@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0 auto;
  padding: 2px;
  max-width: 1440px;
  color: white;
background-image: linear-gradient(90deg,#0c4f50 0%, #040a27 30%, #00010a 50%,#10051f 70%,#35345a 100%);
}